{% extends "songs/base.html" %}
{% load staticfiles %}

{% block title %} Contact WorldOfSoka {% endblock %}

{% block content %}
<div id='contact'>


<img src="/static/images/paz_mundial.JPG" style="padding:40px;"> </img>
<h3> Thank you! </h3>

<p>


This website is an unofficial attempt to share SGI & BSG songs. This is NOT an official website.

</p>
<p>
All songs belong to their respective creators/authors. 
</p>
<p>
For any queries/feedback/suggestions, email us at <a href="mailto:siddharthmanu@gmail.com">siddharthmanu@gmail.com</a>
</p>

</div>
{% endblock %}

