{% extends "songs/base.html" %}
{% load staticfiles %}

{% block title %} Download {{song.title}} {% endblock %}

{% block content %}

	{% include "songs/disclaimer.html" %}
	<h2> Download Song '{{song.title}}' </h2>
		<audio controls="controls" preload="none" style="width:440px;display:block;margin-top:4px;">
		  <source src="/static/{{song.song_path}}" type="audio/mpeg">
		Your browser does not support the audio element.
		</audio>

	<p> This song has been downloaded <b> {{song.num_downloads}} </b> times.</p>
	<h3> Instructions to download </h3>
	<ol name="download_instructions" id="download_instructions">
		<li> Right click the song link below and click on 'Save target as'/'Save link as' </li>
		<li> After download is completed, do play the song fully once to see its downloaded correctly </li>
	</ol>	

	<a style="width:200px;font-size:24px" href='/static/{{song.song_path}}'>
	<i class="fa fa-download"></i> Song Link
	</a> &nbsp &nbsp
	{% if song.lyrics_path == "invalid" %} 
		<p style="color:red; font-size:24px">
		Sorry! No lyrics available yet.
		</p>
	{% else %}
	<a href='/static/{{song.lyrics_path}}' style="font-size:24px">
		<i class="fa fa-file-word-o" ></i> Lyrics</a>
        <br/>
        <iframe style="width:80%;height:100%;scrolling='no'" srcdoc="
            {{song.lyrics_text}}">
        </iframe>


	{% endif %}
	<p> If you have any queries, please feel free to drop a 
			comment/request/suggestion at 
	<a href = '{% url 'feedback:get_feedback' %}'>Feedback </a>
	</p>
{% endblock %}

