<ul>
{%  for song in songs %}
<li>
	<div id='songtile'>
		<div class='songname' title='{{song.title}}' style='width:230px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;'>{{song.title}}</div>
		<audio controls="controls" preload="none" style="width:240px;display:block;margin-top:4px;">
		  <source src="/static/{{song.song_path}}" type="audio/mpeg">
		Your browser does not support the audio element.
		</audio>
		<br/>
		{% if 'invalid' in song.lyrics_path %}
			<a href='/songs/download/{{song.id}}/'><i class='fa fa-cloud-download'></i>&nbsp;Download audio </a>
		{% else %}
			<a href='/songs/download/{{song.id}}/'><i class='fa fa-cloud-download'></i>&nbsp;Download audio/lyrics</a>
		{% endif %}
	</div>
</li>
{% endfor %}
</ul>

