

<p style="font-size:11px; background:white;border:solid thin #000">
<b> Important Notice:  </b>
The sole purpose of this website is to provide easy access to the Soka Gakkai songs for Soka Gakkai members. These songs have been developed by Soka Gakkai members around the world or their affiliates and the owner of the website deeply appreciates the effort and creativity of these originators. 
Any commercial use of these songs along with reproduction/recreation of any part is strongly discouraged, unless the written permission from the originator/custodian is sought. 

</p>
