{% extends "songs/base.html" %}
{% load staticfiles %}


{% block extrahead %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block title %} Requests & Feedback {% endblock %}

{% block content %}



<p> Thank you for taking out the time to leave us a feedback! We will try to reply asap! </p>

<form id="feedback_form" method="post" action="{{URL}}/feedback/">
{% csrf_token %}

{{ feedback_form.non_field_errors }}
<div class="fieldWrapper">
    {{ feedback_form.id_your_name.errors }}
    <label for="{{ feedback_form.your_name.id_for_label }}">Name:</label>
<br/>
    {{ feedback_form.your_name }}
</div>
<div class="fieldWrapper">
    {{ feedback_form.your_email.errors }}
    <label for="{{ feedback_form.your_email.id_for_label }}">Email:</label>
<br/>
    {{ feedback_form.your_email }}
</div>
<div class="fieldWrapper">
    {{ feedback_form.are_you_human.errors }}
    <label for="{{ feedback_form.are_you_human.id_for_label }}">Security: In Buddhism, which is the lowest of the Ten Worlds? (One word)</label>
<br/>
    {{ feedback_form.are_you_human }}
</div>

<div class="comment_box">
    {{ feedback_form.your_comment.errors }}
    <label for="{{ feedback_form.your_comment.id_for_label }}">Comment:</label>
<br/>
    {{ feedback_form.your_comment }}
</div>


<input type="submit" value="Submit"/>
</form>


<table class='comments_table'>
	<tr>
		<th style="width:250px;"> Date </th>
		<th style="width:180px;"> Name </th>
		<th style="width:800px;"> Comment </th>
	</tr>
<tbody>
	{% for comment in comments %}
	<tr>
		<td> {{comment.comment_date}} </td>
		<td> {{comment.commentor_name}} </td>
		<td> {{comment.comment_text}} </td>
	</tr>
	{% endfor %}

</tbody>
</table>
{% endblock %}

